.range {
  display: flex;
  justify-content: space-between;

  font-size: 24px;
}

.range__label {
  flex-shrink: 0;
  width: 40%;
  color: #f9c22b;
}

.range__input {
  width: 60%;
}

/***** Track Styles *****/
.range__input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
.range__input[type="range"]::-webkit-slider-runnable-track {
  background: #f9c22b;
  height: 0.5rem;
}

/******** Firefox ********/
.range__input[type="range"]::-moz-range-track {
  background: #f9c22b;
  height: 0.5rem;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
.range__input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.5rem;
  background-color: #f9c22b;
  height: 1.5rem;
  width: 1.5rem;
}

/***** Firefox *****/
.range__input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: #f9c22b;
  height: 1.5rem;
  width: 1.5rem;
}