.button {
  border: none;
  padding: 10px 24px;
  font-size: 28px;
  color: #f9c22b;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Monocraft', sans-serif;
}

.button:hover {
  background: #f9c22b;
  color: var(--button-hover-text, #000);
}

.button:active {
  transform: scale(0.95);
}
